@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-variant-ligatures: none;
}

@layer utilities {
  .text-shadow-xs {
    text-shadow: 1px 1px 0 rgba(var(--backgroundPrimary)), -1px 1px 0 rgba(var(--backgroundPrimary)),
      1px -1px 0 rgba(var(--backgroundPrimary)), -1px -1px 0 rgba(var(--backgroundPrimary));
  }

  .text-shadow {
    text-shadow: 2px 2px 0 rgba(var(--backgroundPrimary)), -2px 2px 0 rgba(var(--backgroundPrimary)),
      2px -2px 0 rgba(var(--backgroundPrimary)), -2px -2px 0 rgba(var(--backgroundPrimary));
  }

  .text-shadow-xl {
    text-shadow: 4px 4px 0 rgba(var(--backgroundPrimary)), -4px 4px 0 rgba(var(--backgroundPrimary)),
      4px -4px 0 rgba(var(--backgroundPrimary)), -4px -4px 0 rgba(var(--backgroundPrimary));
  }

  .text-shadow-none {
    text-shadow: none;
  }
}

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

.content-header-link {
  opacity: 0;
  margin-left: -24px;
  padding-right: 4px;
}

.content-header:hover .content-header-link,
.content-header-link:hover {
  opacity: 1;
}

.linkicon {
  display: inline-block;
  vertical-align: middle;
}

#comment iframe {
  @apply w-full;
}

.twitter-tweet iframe {
  @apply rounded-xl;
}

.not-found {
  background-image: url(/static/images/404.gif);
  background-repeat: no-repeat;
  background-position: left;
}
